@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff2") format("woff2"),
  url("/fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Bold.woff2") format("woff2"),
  url("/fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: bold;
}    

.page{
  min-width: 1280px;
  background-color: #2A2C2F;
  font-family: Inter;
  font-weight: normal;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
  .page {
    min-width: 1024px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .page {
    min-width: 768px;
  }
}

@media screen and (max-width: 767px){
  .page {
    min-width: 320px;
  }
}
