.cover__background{ 
    display: flex;
    flex-direction: column;    
    text-align: center;
    justify-content: center;
    height: 100%;
    color: #FFFFFF;
    background-color: rgba(42, 44, 47, 0.3);
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
}

.cover__background:hover{
    background-color: rgba(42, 44, 47, 0.8);
}
    
